{% extends 'base.html' %}
{% load static %}
{% block title %}Profile - ProjectPulse{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 text-center">
        <h2>{{ user.username }}'s Profile</h2>
        {% if user.customuser.profile_picture %}
            <img src="{{ user.customuser.profile_picture.url }}" class="img-thumbnail mb-3" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/default_profile.png' %}" class="img-thumbnail mb-3" alt="Profile Picture">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h3>Update Profile</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ u_form.username.label_tag }}
                {{ u_form.username }}
                {% for error in u_form.username.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ u_form.email.label_tag }}
                {{ u_form.email }}
                {% for error in u_form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ p_form.profile_picture.label_tag }}
                {{ p_form.profile_picture }}
                {% for error in p_form.profile_picture.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}
